@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import '@splidejs/splide/dist/css/splide.min.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

::selection {
    background-color: #857b72;
    color: white
}

#root {
    background-color: #F9FAFB;
}

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-thumb {
    background-color: #CACFCD;
    border-radius: 6px;
    transition: all 0.3s;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #acb2b0;
    transition: all 0.3s;
}

*::-webkit-scrollbar-track {
    background-color: #F8F9FA;
}

*::-webkit-scrollbar-corner {
    background-color: #FFFFFF;
}

.dashboard-container {
    --scrollbar-thumb-color: #CACFCD;
    --scrollbar-thumb-hover-color: #acb2b0;
    --scrollbar-track-color: #F8F9FA;
    --scrollbar-corner-color: #FFFFFF;
}

.dashboard-container[data-theme="dark"] {
    --scrollbar-thumb-color: #6A6A6A;
    --scrollbar-thumb-hover-color: #878787;
    --scrollbar-track-color: #2D2D2D;
    --scrollbar-corner-color: #1E1E1E;
}

.dashboard-container *::-webkit-scrollbar {
    width: 7px;
}

.dashboard-container *::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 6px;
    transition: all 0.3s;
}

.dashboard-container *::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
    transition: all 0.3s;
}

.dashboard-container *::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

.dashboard-container *::-webkit-scrollbar-corner {
    background-color: var(--scrollbar-corner-color);
}

.custom-textarea::-webkit-scrollbar {
    width: 6px;
}

.custom-textarea::-webkit-scrollbar-thumb {
    background-color: #CACFCD;
    border-radius: 6px;
    transition: all 0.3s;
    cursor: default;
}

.custom-textarea::-webkit-scrollbar-thumb:hover {
    background-color: #acb2b0;
    transition: all 0.3s;
}

.custom-textarea::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

.custom-textarea::-webkit-scrollbar-corner {
    background-color: #FFFFFF;
}

.custom-scrollbar {
    overflow-x: hidden;
}

.custom-scrollbar::-webkit-scrollbar:horizontal {
    height: 0px;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 0px;
}

img {
    user-select: none;
}

img {
    user-select: none;
}

.to-top-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    height: 50px;
    width: 60px;
    background-color: #373533;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.to-top-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.to-top-button.visible {
    opacity: 1;
}

.to-top-arrow {
    position: relative;
    bottom: 1px;
    width: 25px;
    height: 25px;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(100px);
    }
}

.to-top-button.visible {
    animation: slideIn 0.5s forwards;
}

.to-top-button.hidden {
    animation: slideOut 0.5s forwards;
}

.splide__arrow {
    background-color: white;
    border: none;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
}

.splide__arrow--prev {
    left: 10px;
}

.splide__arrow--next {
    right: 10px;
}

.splide__arrow svg {
    fill: #5B504B;
}

.splide__progress__bar {
    height: 3px;
    background: #007aff;
}

.splide__progress {
    background: #ccc;
}

body,
#root {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .search-bar {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    .search-bar {
        display: none;
    }
}

@media (min-width: 1024px) {
    .search-bar {
        display: flex;
    }
}

.spinner {
    position: relative;
    width: 15px;
    height: 15px;
}

.spinner div {
    animation: spinner-4t3wzl 1.875s infinite backwards;
    background-color: white;
    border-radius: 50%;
    height: 100%;
    position: absolute;
    width: 100%;
}

.spinner div:nth-child(1) {
    animation-delay: 0.15s;
    background-color: rgba(255, 255, 255, 0.9);
}

.spinner div:nth-child(2) {
    animation-delay: 0.3s;
    background-color: rgba(255, 255, 255, 0.8);
}

.spinner div:nth-child(3) {
    animation-delay: 0.45s;
    background-color: rgba(255, 255, 255, 0.7);
}

.spinner div:nth-child(4) {
    animation-delay: 0.6s;
    background-color: rgba(255, 255, 255, 0.6);
}

.spinner div:nth-child(5) {
    animation-delay: 0.75s;
    background-color: rgba(255, 255, 255, 0.5);
}

@keyframes spinner-4t3wzl {
    0% {
        transform: rotate(0deg) translateY(-200%);
    }

    60%,
    100% {
        transform: rotate(360deg) translateY(-200%);
    }
}